.animated-quote {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 150%;
}

@media (prefers-reduced-motion: no-preference) {
    .animated-quote {
        animation: slide-left infinite 20s linear;
    }
}

@keyframes slide-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}