.Dumbbell {
    height: 50px;
    display: flex;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

@media (prefers-reduced-motion: no-preference) {
    .Dumbbell {
        animation: Dumbbell-spin infinite 10s linear;
    }
}

@keyframes Dumbbell-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}