.App-header {
    background-color: rgb(31, 31, 31);
    color: rgb(255, 221, 0);
    text-align: center;
}

.App-body {
    background-color: rgb(60, 60, 60);
    color: rgb(255, 221, 0);
    text-align: center;
    width: 100%;
}