.Change-site-button {
    background-color: rgb(255, 255, 0);
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: bold;
    width: 50%;
    height: 4.5rem;
    outline: none;
}

.Muscle-group-button {
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 0);
    font-size: 15px;
    height: 3rem;
    border: none;
    width: 25%;
    padding: 10px;
}

.Display-muscle-groups-button {
    background-color: rgb(31, 31, 31);
    color: rgb(255, 221, 0);
    width: 100%;
    text-align: center;
    height: 3.5rem;
    border: none;
    font-weight: bold;
    font-size: 1rem;
}

.Site-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.increment-set-rep,
.decrement-set-rep {
    color: rgb(255, 221, 0);
    background-color: rgb(31, 31, 31);
    text-align: center;
    border: none;
}

.save-exercise-button {
    color: rgb(255, 221, 0);
    background-color: rgb(31, 31, 31);
    text-align: center;
    border: none;
    height: 1.5rem;
}

.exercise-input-button {
    background-color: rgb(60, 60, 60);
    color: rgb(255, 221, 0);
    font-size: 1.2rem;
    text-align: left;
    font-weight: bold;
    height: 3rem;
    width: 100%;
    border: none;
}

.delete-local-storage-button {
    color: rgb(255, 221, 0);
    background-color: rgb(31, 31, 31);
    border: none;
    height: 1.5rem;
    margin-top: 1rem;
}

.input-output-button {
    width: 50%;
    height: 3rem;
    color: rgb(255, 221, 0);
    background-color: rgb(31, 31, 31);
    font-size: 1rem;
    border: none;
}